# Node modules (em qualquer nível)
node_modules/

# Arquivos sensíveis
.env
.env.example
firebaseServiceAccountKey.json

# Arquivos de configuração indevidos na raiz (caso erradamente criados fora do /backend ou /frontend)
package.json
yarn.lock

# Builds de frontend e backend
build/
dist/

# Temporários e cache
.temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Lockfiles do NPM (se usando Yarn)
package-lock.json
